Mission to Mars

In [32]:
# Dependencies and Setup
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import re

In [2]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {'executable_path': r'C:\Users\Muntz\Desktop\ChromeDriver\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

Mission to Mars

In [3]:
# Visit the Nasa Mars News Site
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
news_soup = BeautifulSoup(html, "html.parser")
slide_element = news_soup.select_one("ul.item_list li.slide")

In [5]:
slide_element.find("div", class_="content_title")

In [6]:
news_title = slide_element.find("div", class_="content_title").get_text()
print(news_title)

AI Is Helping Scientists Discover Fresh Craters on Mars

In [7]:
news_paragraph = slide_element.find("div", class_="article_teaser_body").get_text()
print(news_paragraph)

It's the first time machine learning has been used to find previously unknown craters on the Red Planet.

JPL Mars Space Images - Featured Image

In [9]:
# Visit the NASA JPL (Jet Propulsion Laboratory) Site
executable_path = {'executable_path': r'C:\Users\Muntz\Desktop\ChromeDriver\chromedriver.exe'}
browser = Browser("chrome", **executable_path)
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [14]:
# Ask Splinter to Go to Site and Click Button with Class Name full_image
browser.click_link_by_partial_text("FULL IMAGE")

In [15]:
browser.is_element_present_by_text("more info", wait_time=1)
more_info_element = browser.find_link_by_partial_text("more info")
more_info_element.click()

In [16]:
# Parse Results HTML with BeautifulSoup
html = browser.html
image_soup = BeautifulSoup(html, "html.parser")

In [17]:
img_url = image_soup.select_one("figure.lede a img").get("src")
img_url

'/spaceimages/images/largesize/PIA19343_hires.jpg'

In [18]:
# Use Base URL to Create Absolute URL
img_url = f"https://www.jpl.nasa.gov{img_url}"
print(img_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19343_hires.jpg

Mars Weather

In [19]:
# Visit the Mars Weather Twitter Account
executable_path = {'executable_path': r'C:\Users\Muntz\Desktop\ChromeDriver\chromedriver.exe'}
browser = Browser("chrome", **executable_path, headless=False)
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [20]:
# Parse Results HTML with BeautifulSoup
html = browser.html
weather_soup = BeautifulSoup(html, "html.parser")

In [33]:
mars_weather = weather_soup.find_all("span",text=re.compile('InSight sol'))
print(mars_weather)
#temp

[<span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 656 (2020-09-30) low -97.3ºC (-143.1ºF) high -19.6ºC (-3.3ºF)
winds from the WNW at 8.6 m/s (19.2 mph) gusting to 21.9 m/s (49.0 mph)
pressure at 7.70 hPa</span>, <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 655 (2020-09-29) low -95.3ºC (-139.5ºF) high -18.0ºC (-0.3ºF)
winds from the WNW at 8.6 m/s (19.3 mph) gusting to 21.2 m/s (47.4 mph)
pressure at 7.70 hPa</span>, <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 654 (2020-09-28) low -95.8ºC (-140.5ºF) high -15.5ºC (4.0ºF)
winds from the WNW at 6.8 m/s (15.2 mph) gusting to 20.8 m/s (46.4 mph)
pressure at 7.60 hPa</span>, <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 653 (2020-09-27) low -96.3ºC (-141.3ºF) high -10.6ºC (13.0ºF)
winds from the W at 6.0 m/s (13.3 mph) gusting to 18.0 m/s (40.2 mph)
pressure at 7.60 hPa</span>, <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 652 (2020-09-26) low -96.1ºC (-141.0ºF) high -15.7ºC (3.8ºF)
winds from the WNW at 6.6 m/s (14.7 mph) gusting to 18.6 m/s (41.6 mph)
pressure at 7.60 hPa</span>, <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 651 (2020-09-25) low -96.7ºC (-142.1ºF) high -15.9ºC (3.4ºF)
winds from the WNW at 7.3 m/s (16.3 mph) gusting to 20.3 m/s (45.3 mph)
pressure at 7.70 hPa</span>, <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 650 (2020-09-24) low -95.9ºC (-140.6ºF) high -17.5ºC (0.5ºF)
winds from the WNW at 8.7 m/s (19.4 mph) gusting to 22.8 m/s (50.9 mph)
pressure at 7.70 hPa</span>, <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 649 (2020-09-23) low -95.7ºC (-140.3ºF) high -19.2ºC (-2.5ºF)
winds from the WNW at 8.3 m/s (18.7 mph) gusting to 22.0 m/s (49.3 mph)
pressure at 7.70 hPa</span>]

Mars Facts

In [36]:
# Visit the Mars Facts Site Using Pandas to Read
mars_df = pd.read_html("https://space-facts.com/mars/")[0]
mars_df.columns=["Description", "Value"]
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [37]:
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [38]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

Mars Hemispheres

In [43]:
# Visit the USGS Astrogeology Science Center Site
executable_path = {'executable_path': r'C:\Users\Muntz\Desktop\ChromeDriver\chromedriver.exe'}
browser = Browser("chrome", **executable_path, headless=False)
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [44]:
hemisphere_image_urls = []

# Get a List of All the Hemispheres
links = browser.find_by_css("a.product-item h3")
for item in range(len(links)):
    hemisphere = {}
    
    # Find Element on Each Loop to Avoid a Stale Element Exception
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Find Sample Image Anchor Tag & Extract <href>
    sample_element = browser.find_link_by_text("Sample").first
    hemisphere["img_url"] = sample_element["href"]
    
    # Get Hemisphere Title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemisphere)
    
    # Navigate Backwards
    browser.back()

In [ ]:
hemisphere_image_urls